@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body{
  background: linear-gradient(280deg, #2d0355, #181818);
  font-family: 'Roboto', sans-serif;
}

.container{
  background: #00001d;
  width: 75%;
  height: 85%;
  position: absolute;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.number{
  width: 20rem;
  height: 20rem;
  border-radius: 100%;
  background: #170239;
  display:flex;
  align-items: center;
  justify-content:center;
  text-align: center;
}

.name{
  color:rgb(255, 255, 255);
  text-align: center;
  font-size: 200%;
}

.button{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 15px;
  background-color: #EEEEEE;
  padding: 10px;
  width: 85%;
  height: 5%;
  box-shadow: 0 9px #999;
  border-radius: 5px;
}

.button:active{
  background-color: #D6E4E5;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  
}

.dat{
  color: whitesmoke;
  font-size: 200%
}

.dat2{
  color: whitesmoke;
  font-size: 100%
}

label{
  color: #EEEEEE;
}

input{
  width: 250px;
  height: 30px;
  text-align: center;
}